@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Flex:opsz@8..144&family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../jpg/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:  fixed;
 
    
}

nav{
    z-index: 1;
}

nav .Logo{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Public Sans', sans-serif;
    line-height: 100px;
    font-weight: 900; /* negrita */
    margin-left: 250px; /* margen izquierdo */
}


nav ul li{
    display: inline-block;
    margin: 40px 10px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 30px;
}

nav ul{
    float:right;
    margin-right: 240px;

}

header{
    position:absolute;
    height: 75px;
    width: 75px;
    margin: 8px 0px;
    margin-left: 165px;

}

nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 8px 8px; /*espacio del margen*/
    text-decoration: none; /*subrayado*/
}

nav ul li a:hover{
    position: static;
    border: 0px solid #C9725B;
    color: white;
    text-decoration: none;
    background: #6A5DC4;
}

#contenedor{
  
    
    width: 100%;
}

#titulopagina{
    color: white;
    height: 10%;
    width: 50%;
    font-size: 42px;
    background-color: transparent;
    font-family: 'Roboto Slab', sans-serif;
    margin-top: 200px;
    padding-left: 19%;  
}

#cuerpopagina{
    color: white;
    height: 10%;
    width: 50%;
    font-size: 16px;
    background-color: transparent;
    font-family: 'Roboto Flex', sans-serif;
    margin-top: 50px;
    padding-left: 19%; 
    line-height: 25px;
}

#imagenprincipal{
    position:relative;
    margin-top: -20%;
    padding-left: 50%;
    margin-left: 4%;
}   

#avatars{
    position:absolute;
    margin-left: 700px;
    margin-top: -1.5%;
    
}

#peque침otexto{

    color: white;
    height: 75px;
    width: 165px;
    font-size: 16px;
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0%;
    margin-left: 915px;
    line-height: 20px;
}


#botonEm1{
    position:absolute;
    text-decoration: none;
    color: white;
    width: 200px;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    text-align: center;
    background-color: #C9725B;
    border-radius: 100px;
    padding: 18px 30px;
    margin-top: -4.5%;
    margin-left: 400px;
}

#botonEm1:hover{
    background-color: #22242E;
    color: white;
    border: 2px solid #22242E;
    cursor: pointer;
}


#panelTransparente{
    width:100%;
    height: 500px;
    margin-top: 200px;
    background-color: #22242E;
   
    opacity: 0.26;
}

#titulopagina2{
    position:absolute;
    color: white;
    text-align: right;
    height: 75px;
    width: 550px;
    font-size: 42px;
    background-color: transparent;
    font-family: 'Roboto Slab';
    margin-top: -400px;
    margin-left: 52%;
}

#imagenSecundaria{
    position:absolute;
    margin-left: 19%;
    margin-top: -440px;
    z-index: 0;
}


#botonEm2{
    position:absolute;
    text-decoration: none;
    color: white;
    width: 200px;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    text-align: center;
    background-color: #C9725B;
    border-radius: 100px;
    padding: 18px 30px;
    margin-top: -240px;
    margin-left: 55%;
}

#botonEm2:hover{
    background-color: #22242E;
    color: white;
    border: 2px solid #22242E;
    cursor: pointer;
}



.logosApps{
    position:absolute;
    margin-left: 60%;
    margin-top: -100px;
}

#titulo2{
    color: white;
    font-family: 'Roboto Slab';
    font-size: 28px;
    position:absolute;
    margin-left: 41%;
    margin-top: 110px;
    text-align: center;
}

.avatarsTestimonios{
    display: flex;
    margin-left: 6%;
    margin-top: 250px;
   justify-content: center;

}

.testimonio1{
    margin-right:  21%;
}

.testimonio2{
    margin-right: 21%;
}
.testimonio3{
    margin-right: 17%;
}

.nombresTestimonios{
    display :flex ;
    
    font-family: 'Roboto Slab';
    color: white;
    font-size: 19px;
    justify-content: center;
    
    margin-top: 30px;
}

.test1{
    margin-right:  21%;
   
}

.test2{
    
    margin-right: 21%;
}

.test3{
   
    margin-right: 10%;
    
}

.textoTestimonio1{
    width: 260px;
    text-align: center;
    font-family: 'Roboto Flex';
    color: white;
    font-size: 16px;
    justify-content: center;
    margin-left: 12%;
    margin-top: 20px;
}

.textoTestimonio2{
    position:absolute;
    width: 260px;
    text-align: center;
    font-family: 'Roboto Flex';
    color: white;
    font-size: 16px;
    justify-content: center;
    margin-left: 40%;
    margin-top: -75px;
}

.textoTestimonio3{
    position:absolute;
    width: 260px;
    text-align: center;
    font-family: 'Roboto Flex';
    color: white;
    font-size: 16px;
    justify-content: center;
    margin-left: 65%;
    margin-top: -75px;
}

footer{
    background-color: #22242E;
    margin-top: 175px;
   position: static;
   height: 400px;
}



.secciones{
    width: 100%;
    font-family: 'Roboto Slab';
    color: white;
    font-size: 20px;
    
    margin-top: 220px;
    line-height: 150px;
    justify-content: center;
}

.informacion{
    
    margin-left: 15%;
    
}

.navegacion{
    
    margin-left: 20%;
}

.contactanos{
    
    margin-left: 22%;
}

#redes{
    position:absolute;
    width: 240px;
    font-family: 'Roboto Condensed';
    color: white;
    font-size: 17px;
    justify-content: center;
    margin-left: 15%;
    margin-top: -40px;


}

.iconosRedes{
    position:absolute;
    display: flex;
    margin-left: 15%;
    margin-top: 20px;
   justify-content: center;
}

.seccionesFooter{
    display:block;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 45%;
    margin-top: -50px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    line-height: 23px;
}

.Inicio{
    color: white;
    text-decoration: none;
}
.Inicio:hover{
    color:#C9725B;
    text-decoration: none;
}

.Blog{
    color: white;
    text-decoration: none;
}

.Blog:hover{
    color:#C9725B;
    text-decoration: none;
}
.Con칩cenos{
    color: white;
    text-decoration: none;
}

.Con칩cenos:hover{
    color:#C9725B;
    text-decoration: none;
}
.Servicios{
    color: white;
    text-decoration: none;
}
.Servicios:hover{
    color:#C9725B;
    text-decoration: none;
}
.iconoContact{
    position:absolute;
    display: block;
    width: 5px;
    margin-left: 70%;
    margin-top: -90px;
   justify-content: center;
}

.Contact{
    position:absolute;
    width: 240px;
    font-family: 'Roboto Condensed';
    color: white;
    font-size: 17px;
    justify-content: center;    
    margin-left: 73%;
    margin-top: -90px;
    line-height: 30px;
}
form{
    width: 230px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 70%;
    margin-top: -10px;

}

input{
    padding: 10px;
}

button{
    position:absolute;
    text-decoration: none;
    color: white;
    width: 200px;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    text-align: center;
    background-color: #C9725B;
    border-radius: 100px;
    border: none;
    padding: 15px 15px;
    margin-top: 55px;
    margin-left: 0px;
    cursor: pointer;
}

button:hover{
    background-color: #22242E;
    color: white;
    border: 2px solid #22242E;
    cursor: pointer;
    border: solid white;
}

#Derechos{
    display: flex;
    margin-top: -40px;
    margin-left: 0px;
    color: white;
    font-family: 'Roboto Slab';
    color: white;
    font-size: 20px;
    justify-content: center;
}

hr{
    width: 1903px;
    margin-top: -35px;
    opacity: 0.5;
}

.cerrar{
    color: transparent;
}



@media(max-width: 1800px){

    .icono_menu{
        width: 30px;
        position: absolute;
        top: 30px;
    }

    .icono_menu span{
        height: 3px;
        display: block;
        background-color: white;
        margin-bottom: 4px;
    }

    nav{
        position: relative;
    }

    nav .Logo{
        margin-left: 50px;
    }

    nav ul{
        float: left;
        width: 300px;
        padding: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        background-color:#C9725B ;
        margin: 0px;
        padding-top: 60px;
        transition: 2s;
        z-index: -2;
    }

    nav ul li {
        font-size: 18px;
        padding: 10px 40px;
        display: block;
        float: none;
    }

    nav ul li a{
        font-size: 18px;
        padding: 10px 40px;
    }

    .abrir{
        left:0;
        
    }

    .cerrar{
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 20px;
        right: 10px;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }



    
}

@media (max-width: 1400px) {


    #imagenprincipal{
        position:relative;
        margin-top: 5%;
        margin-left: -30%;
    }

    #titulopagina{
        color: white;
        height: 10%;
        width: 50%;
        font-size: 42px;
        background-color: transparent;
        font-family: 'Roboto Slab', sans-serif;
        margin-top: 200px;
        margin-left: 18%;  
    }
    
    #cuerpopagina{
        color: white;
        height: 10%;
        width: 50%;
        font-size: 16px;
        background-color: transparent;
        font-family: 'Roboto Flex', sans-serif;
        margin-top: 50px;
        margin-left: 18%; 
        line-height: 25px;
    }

    #avatars{
        position:absolute;
        margin-left: 60%;
        margin-top: 50px;
        
    }
    
    #peque침otexto{
    
        color:chocolate;
        height: 75px;
        width: 165px;
        font-size: 16px;
        background-color: transparent;
        font-family: 'Roboto Condensed', sans-serif;
        margin-top: 150px;
        margin-left: 62%;
        line-height: 20px;
    }
    
    
    #botonEm1{
        position:absolute;
        text-decoration: none;
        color: white;
        width: 200px;
        font-family: 'Roboto Condensed';
        font-size: 18px;
        text-align: center;
        background-color: #C9725B;
        border-radius: 100px;
        padding: 18px 30px;
        margin-top: -120px;
        margin-left: 25%;
    }

    #imagenSecundaria{
        position:absolute;
        margin-left: 10%;
        margin-top: -440px;
        z-index: 0;
    }

    #titulopagina2{
        position:absolute;
        color: white;
        text-align: right;
        height: 75px;
        width: 400px;
        font-size: 34px;
        background-color: transparent;
        font-family: 'Roboto Slab';
        margin-top: -400px;
        margin-left: 52%;
    }

    #botonEm2{
        position:absolute;
        text-decoration: none;
        color: white;
        width: 200px;
        font-family: 'Roboto Condensed';
        font-size: 18px;
        text-align: center;
        background-color: #C9725B;
        border-radius: 100px;
        padding: 18px 30px;
        margin-top: -200px;
        margin-left: 65%;
    }
 
    .contactanos{
    
        margin-left: 18%;
    }

    .nombresTestimonios
    {
        color:#ffffff;
    }

}

@media (max-width: 870px)
{
    
    .logosApps img
    {
        width: 100px;
        height: 30px;
    }

    #titulopagina{
        color: white;
        height: 300px;
        width: 400px;
        font-size: 32px;
        background-color: transparent;
        font-family: 'Roboto Slab', sans-serif;
        margin-top: 10%;
        margin-left: 0%;  
        text-align: center;
    }


    #imagenprincipal img {
        width: 100%;
        height: 100%;
        margin-left: -10%;
        margin-top: -10%;
    }
    
    #cuerpopagina{
        color: white;
        height: 200px;    
        width: 400px;
        font-size: 16px;
        background-color: transparent;
        font-family: 'Roboto Flex', sans-serif;
        margin-top: -4%;
        margin-left: 0%; 
        line-height: 25px;
        text-align: center;
    }

    #imagenSecundaria{
        position:absolute;
        margin-left: 24%;
        margin-top: -740px;
        z-index: 0;
    }

    #titulopagina2{
        position:absolute;
        color: white;
        text-align: center;
        height: 75px;
        width: 400px;
        font-size: 28px;
        margin-top: -300px;
        margin-left: 25%;
        
    }
    #botonEm2
    {
        margin-left: 38%;
    }

    .logosApps
    {
        margin-left: 38%;
    }
    .Contact
    {
        margin-left:75%;
    }
    .contactanos
    {
        margin-left: 10%;
    }
    .navegacion
    {
        margin-left: 13%;
    }

    #titulo2
    {
        color:#ffffff;
    }

    .testimonio1
    {
        position: absolute;
       
        text-align: center;
        font-family: 'Roboto Flex';
        color: white;
        font-size: 16px;
        justify-content: center;
        margin-left: 20%;
        margin-top: -90px;
    }

    .test1
    {
        position:absolute;
        margin-left: 25%;
        margin-top: -490px;
    }

    .testimonio2
    {   
        position: absolute;
        text-align: center;
        font-family: 'Roboto Flex';
        color: white;
        font-size: 16px;
        justify-content: center;
        margin-left: 20%;
        margin-top: 150px;
    }

    .test2
    {
        position:absolute;
        margin-left: 25%;
        margin-top: -240px;
    }

    .testimonio3
    {
        
        text-align: center;
        font-family: 'Roboto Flex';
        color: white;
        font-size: 16px;
        justify-content: center;
        margin-left: 20%;
        margin-top: 400px;
    }

    .test3
    {
       
        margin-left: 17%;
        margin-top: 20px;
    }   


    .textTest1
    {
        font-size: 16px;
      
        margin-top: -20px;
    }
    .textTest12
    {
     
        font-size: 16px;
    }
    .textTest13
    {
   
        font-size: 16px;
    }

    form{
        width: 180px;
        height: 200px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 70%;
        margin-top: -10px;
    
    }
    
    
}