@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Flex:opsz@8..144&family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    background-size: 118%;
    background-repeat: no-repeat;
 
    
}

nav{
    background-color:transparent;
}

nav .Logo{
    color: #5F2498;
    font-size: 20px;
    font-family: 'Public Sans', sans-serif;
    line-height: 100px;
    font-weight: 900; /* negrita */
    margin-left: 250px; /* margen izquierdo */
}


nav ul li{
    display: inline-block;
    margin: 40px 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

nav ul{
    float:right;
    margin-right: 240px;

}

header{
    position:absolute;
    height: 75px;
    width: 75px;
    margin: 8px 0px;
    margin-left: 165px;

}


nav ul li a:hover{
    position: static;
    border: 0px solid #6A5DC4;
    color: white;
    text-decoration: none;
    background: #6A5DC4;
}

#contenedor{
    width: 90%;
    max-width:2000px;
    margin: auto;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

#titulopagina{
    color: black;
    height: 100px;
    width: 2000px;
    font-size: 42px;
    background-color: transparent;
    font-family: 'Roboto Slab', sans-serif;
    margin-top: -100px;
    margin-left: 855px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabla{
    width:0px;
    position: relative;
    height: 500px;
    margin: auto;
    border:none;
    
    box-shadow: 0px 0px 4px 0px  #665075;
    padding: 30px;
    text-align: center;
    flex-grow: 1;
    color: black;
    margin-top: -600px;
    top: 35%;
}

.tabla>h2{
    font-family: 'Roboto Slab';
    font-size:25px;
    text-align: center;
    margin-bottom:35px;
    margin-left: 250px;
    width: 250px;
}

.tabla img{
    width: 307px;
    margin-top: 20px;
    margin-bottom:35px;
}


.tabla:hover{
    background: #665075;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
    border: none;
}

#boton{
    position:absolute;
    text-decoration: none;
    color: white;
    width: 200px;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    text-align: center;
    background-color: #C9725B;
    border-radius: 100px;
    padding: 18px 30px;
    margin-top: 50px;
    margin-left: -950px;
}

#boton:hover{
    background-color: #22242E;
    color: white;
    border: 2px solid #22242E;
    cursor: pointer;
  
    
}




@media(max-width: 1800px){

    .icono_menu{
        width: 30px;
        position: absolute;
        top: 30px;
    }

    .icono_menu span{
        height: 3px;
        display: block;
        background-color: white;
        margin-bottom: 4px;
    }

    nav{
        position: relative;
    }

    nav .Logo{
        margin-left: 50px;
    }

    nav ul{
        float: left;
        width: 300px;
        padding: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        background-color:#C9725B ;
        margin: 0px;
        padding-top: 60px;
        transition: 2s;
        z-index: -2;
    }

    nav ul li {
        font-size: 18px;
        padding: 10px 40px;
    }

   

    nav ul li a{
        font-size: 18px;
        padding: 10px 40px;
    }

    .abrir{
        left:0;
        
    }

    .cerrar{
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 20px;
        right: 10px;
        color: #C9725B;
        font-size: 30px;
    }
}
